<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/email_sent-style.css">
</head>
<body>
<section class="mail-seccess section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <!-- Error Inner -->
                <div class="success-inner">
                    <h1><i class="fa fa-envelope"></i><span>Activation email has been sent to your email successfully!</span></h1>
                    <p th:text="${email}"></p>
                    <a href="/" class="btn btn-primary btn-lg">Home page</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>